@font-face {
	font-family: "Varela";
	src: url("../font/FOT-yuruka.OTF") format("truetype");
   }
*
{
	font-family: 'Varela', sans-serif;
}

html {
    background-color: #4f1800;
}

.title {
    color: white;
    font-size: 35px;
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.card {
    margin: 2rem;
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.card-image {
    border-radius: 8px;
    width: 12rem;
    height: 18rem;
    z-index: -1;
    object-fit: cover;
    transition: 0.2s;
}

.card-image:hover {
    opacity: 0.8;
}

.name {
    color: white;
    margin-top: 0.5rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.658);
    position: absolute;
    bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 8px;
}

.header-content {
    display: flex;
    justify-content: center;
    padding: 20px;
}

@media (min-width: 1200px) {
    .header-text {
        display: flex;
        align-items: center;
        color: #ffffff;
        width: 50%;
    }

    .header-text p {
        font-size: 25px;
        margin-left: 25px;
    }

    .header-text img {
        max-width: 200px;
        border-radius: 15%;
        margin-right: 20px;
    }
}

@media (max-width: 1200px) {
    .header-text {
        display: flex;
        align-items: center;
        color: #ffffff;
        width: 75%;
    }

    .header-text p {
        font-size: 28px;
        margin-left: 25px;
    }

    .header-text img {
        max-width: 200px;
        border-radius: 15%;
        margin-right: 20px;
    }
}

@media (max-width: 900px) and (orientation: portrait) {
    .header-text {
        display: block;
        align-items: center;
        color: #ffffff;
        width: 100%;
    }

    .header-text p {
        font-size: 22px;
    }

    .header-text img {
        max-width: 200px;
        border-radius: 15%;
        margin-left: 25%;
    }
}

.separator {
    display: flex;
    align-items: center;
    padding: 20px;
}

.separator hr {
    flex-grow: 1;
    border: 1px solid #ffffff;
    width: 30%;
}

.separator-text {
    padding: 0 10px;
    color: #ffffff;
    font-size: 20px;
    padding-right: 25px;
}

.logo-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #ffffff;
    padding-bottom: 24px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
}

.logo i {
    max-width: 100px;
    margin-right: 10px;
}

.logo p {
    text-align: left;
    margin-right: 50px;
}

.text_footer {
    position: fixed;
    bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    padding-left: 24px;
}

.text_footer2 {
    color: white;
    text-decoration: none;
}

.error {
    color: white;
    text-align: center;
    padding-top: 20%;
}